@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: 'SF Pro bold';
    src: url('fonts/SF-Pro-Text-Bold.otf');
}
@font-face {
    font-family: 'SF Pro bolder';
    src: url('fonts/SF-Pro-Text-Semibold.otf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro';
    scroll-behavior: smooth;
}
header {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D7D7D7;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    cursor: pointer;
}
.burger {
    display: none;
}
.menu-list {
    display: flex;
}
.menu-list_item {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 18px;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .burger {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        position: fixed;
    }
    .menu {
        display: none;
    }
    .menu.active {
        display: block;
        position: fixed;
        height: calc(100vh - 40px);
        left: 0;
        width: 100%;
        top: 40px;
        background: #FFFFFF;
    }
    .menu-list {
        margin-left: 50px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .menu-list_item {
        margin-bottom: 40px;
        font-size: 20px;
    }
    header .container {
        align-items: initial;
    }
}
@media (max-width: 575.98px) {
    header {
        height: 40px;
        border: none;
    }
}



.hero {
    height: 100vh;
    position: relative;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 40px;
}
.whatsapp-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(259.99deg, #43D654 98.95%, #FFFFFF 102.96%, #43D654 105.47%, #43D654 120.86%);
    color: #FFFFFF;
    text-decoration: none;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 9;

    background: linear-gradient(
            135deg,
            rgba(67, 214, 84, 1) 0%,
            rgba(67, 214, 84, 1) 40%,
            white 50%,
            rgba(67, 214, 84, 1) 60%,
            rgba(67, 214, 84, 1) 100%
    );
    background-size: 400% 100%;
    background-position: 100% 50%;
    animation: animation-shine 2s 0s infinite;
}

/* animation */
@keyframes animation-shine {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.hero .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left-img {
    display: none;
}
.left-title h1 {
    font-family: 'SF Pro bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.005em;
    color: #000000;
}
.left-title p {
    
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.018em;
    color: #000000;
    margin-bottom: 20px;
}
.left-subtitle p:first-child {
    
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px !important;
}
.left-subtitle p {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.left .btn {
    width: 360px;
    height: 65px;
    margin-top: 40px;
}

.right {
    aspect-ratio: 0.5;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.right img {
    object-fit: cover;
    width: 100%;
}
@media (max-width: 991.98px) {
    .hero {
        height: auto;
        padding-bottom: 150px;
        padding-top: 100px;
    }
    .hero .container {
        flex-direction: column;
        align-items: center;
    }
    .right {
        display: none;
    }
    .left {
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .left-subtitle {
        display: none;
    }
    .left-img{
        display: block;
        /*width: 400px;*/
        height: 550px;
    }
    .left-img img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 575.98px) {
    .hero {
        padding-bottom: 140px;
        padding-top: 70px;
    }
    .left {
        align-items: center;
        text-align: center;
    }
    .left-title h1 {
        font-size: 23px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.005em;
    }
    .left-title p {
        font-size: 18px;
        line-height: 21px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .left-img {
        margin: 10px auto 0;
        width: 193px !important;
        height: 345px !important;
    }
    .left .btn {
        width: 100%;
        font-size: 18px;
        margin-top: 0px;
        height: 50px;
    }

    .logo a {
        font-size: 19px;
        line-height: 19px;
    }
    .whatsapp {
        display: none;
    }
    .whatsapp-mobile {
        font-size: 18px;
        line-height: 21px;
        font-family: 'SF Pro bolder';
    }
}
@media (max-width: 399.98px) {
    .left .btn {
        font-size: 18px;
    }
}



/* WORKS */
.works {
    height: auto;
    padding-top: 140px;
    padding-bottom: 90px;
}
.works-btn {
    position: absolute;
    left: 50%;
    bottom: -25px;
    background: transparent;
    border: none;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 274;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.works-btn img{
    margin-top: 18px;
}
.works-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works-content_card {  
    padding: 35px 23px;
    border-radius: 20px;
    width: 610px;
    background-image: url("img/telegaBg.png");
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #fff;
}
.works-content_bot {
    width: 470px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("img/img bot.svg");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.works-content_bot-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 0px;
    width: 334px;
    padding: 10px;
    
    font-style: normal;
    font-weight: 510;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 10px;
}
@media (max-width: 1199.98px) {
    .works-content_card {
        width: 500px;
        font-size: 22px;
    }
    .works-content_bot {
        width: 400px;
    }
}
@media (max-width: 991.98px) {
    .works {
        height: auto;
        padding-bottom: 50px;
        margin-top: 0;
        padding-top: 90px;
    }
    .works-content {
        flex-direction: column;
        align-items: center;
    }
    .works-content_card {
        margin-bottom: 40px;
        font-size: 22px;
    }
    .works-content_bot {
        width: 500px;
        height: 300px;
    }
}
@media (max-width: 767.98px) {

    .works-content {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .works {
        padding-top: 40px;
    }
    .works-btn {
        bottom: 0;
    }
    .works-content_bot {
        width: 100%;
        background-size: 90px;
    }
    .works-content_bot-card {
        width: calc(100% - 120px);
        font-size: 13px;
    }
    .works-content_bot-card br {
        display: none;
    }
    .works-content_card {
        width: 100%;
        font-size: 16px;
        padding: 25px;
        line-height: 20px;
    }
    .works-content_bot {
        height: 220px;
    }
    .works-btn img{
        margin-top: 8px;
    }
}
@media (max-width: 399.98px) {
    .works-content_bot {
        height: 270px;
    }
    .works-content_bot-card {
        width: calc(100% - 101px);
        font-size: 13px;
    }
}


/* START*/
.start {
    background: #F4F7FA;
    padding-top: 100px;
    padding-bottom: 60px;
}
.start-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    margin: 60px auto 0;
}
.start-card {
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
}
.hr {
    position: absolute;
    bottom: -30px;
    left: 40px;
    height: 40px;
    width: 1px;
    background: #007BFE;
}
.start-card_number {
    background: #007BFE;
    border-radius: 10px;
    width: 85px;
    height: auto;
    
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.start-card_content p:first-child {
    
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 10px;
}
.start-card_content p:last-child {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.7;
}

@media (max-width: 991.98px) {
    .start-card {
        height: auto;
    }
    .start-cards {
        width: 600px;
    }
    .start-card_number {
        width: 60px;
        height: 60px;
        z-index: 3;
    }
    .hr {
        height: 60px;
        left: 30px;
    }
}
@media (max-width: 767.98px) {
    .start-cards {
        width: calc(100% - 50px);
    }
    .start-card_number {
        width: 50px;
        height: 50px;
    }
    .start-card_content {
        width: calc(100% - 70px);
    }
    .hr {
        height: 80px;
        left: 25px;
    }
}
@media (max-width: 575.98px) {
    .start {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .start-cards {
        margin-top: 20px;
    }
    .start-card_number {
        width: 64px;
        height: 74px;
    }
    .hr {
        height: 100%;
        left: 30px;
    }
}



/* REASONS*/
.reason {
    padding: 100px 0;
}
.reason-cards {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.reason-cards.mobile {
    display: none;
}
.reason-card {
    width: 285px;
    height: 287px;
    border: 1px solid #007BFE;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
}
.reason-card_header {
    display: flex;
    align-items: center;
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.reason-card_header img {
    margin-right: 10px;
}
.reason-card_text {
    margin-top: 20px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.orders {
    background: #F4F7FA;
}

@media (max-width: 1199.98px) {
    .reason-card_header img {
        width: 35px;
    }
    .reason-card_text {
        font-size: 16px;
        margin-top: 10px;
    }
    .reason-card {
        width: 230px;
        min-height: 260px;
        padding: 15px;
    }
}

@media (max-width: 991.98px) {
    .reason-card {
        width: 350px;
        margin-bottom: 25px;
    }
    .reason-cards {
        flex-wrap: wrap;
    }

}
@media (max-width: 767.98px) {
    .reason-card {
        width: 250px;
        margin-bottom: 25px;
    }
}
@media (max-width: 575.98px) {
    .reason {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .reason-card_header img {
        width: 45px;
    }
    .swiper-slide {
        width: 315px !important;
        min-height: 144px !important;
        display: flex;
        align-items: center;
    }
    .swiper-slide:first-child {
        margin-left: 20px;
    }
    .reason-card {
        width: 100%;
        padding: 10px;
    }
    .reason-card_text {
        font-size: 19px;
        line-height: 22px;
        margin-top: 0;
    }
    .reason-card_text p:first-child {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    .reason-card_text p:last-child{
        font-size: 13px;
        line-height: 16px;
    }
    .reason-cards {
        display: none;
    }
    .reason-cards.mobile {
        margin-top: 20px;
        display: flex;
    }
}


/* FOOTER */

footer {
    background-color: #000;
    height: 306px;
    width: 100%;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container {
    text-align: center;
}
.footer-title {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 33px;
}
.footer-subtitle, .footer-rules {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.footer-rules {
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}
.footer-partners {
    display: flex;
    margin-top: 38px;
    justify-content: center;
}
.footer-partner_item {
    margin-right: 30px;
}
.footer-partner_item:last-child {
    margin-right: 0;
}

@media (max-width: 575.98px) {
    footer {
        padding-top: 30px;
    }
    .footer-title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .footer-subtitle, .footer-rules {
        font-size: 16px;
        line-height: 19px;
    }
    .footer-partners {
        margin-top: 24px;
    }
}


.tariffs {
    padding-top: 60px;
    padding-bottom: 60px;
}
.tariffs-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
}
.tariffs-tabs {
    margin: 0 auto;
    display: flex;
    width: 485px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2EFF2;
    border-radius: 10px;
}
.tariffs-tabs_item {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 21px;
    text-align: center;
    width: 147px;
    height: 41px;

}
.tariffs-tabs_item.active {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.tariffs-speed {
    position: absolute;
    right: 0;
    top: 50%;
    transform:translate(0%,-50%);
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    font-family: 'SF Pro';
}

.tariffs-content {
    display: flex;
    margin-top: 60px;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}
.tariffs-content_block {
    width: calc((100% - 262px)/3);
    padding-bottom: 16px;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.tariffs-content_block:first-child {
    border-bottom-left-radius: 10px;
    width: 262px;
}
.tariffs-content_block:nth-child(3) .tariffs-content_block-header {
    background-image: url("img/lenta.svg");
    background-position: 143px -40px;
    background-repeat: no-repeat;
    background-size: 194px;
}
.tariffs-content_block-header {
    height: 183px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 33px;
}
.tariffs-content_block-header img {
    margin-right: 10px;
}
.tariffs-content_block-header:first-child {
    border-top-left-radius: 10px;
}
.tariffs-content_block:first-child .tariffs-content_block-container {
    justify-content: flex-start;
}
.tariffs-content_block-container {
    padding-top: 71px;
    padding-left: 15px;
    padding-right: 20px;
}
.tariffs-content_block-container--mobile {
    display: none;
}
.tariffs-content_block-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tariffs-content_block:first-child .tariffs-content_block-container .tariffs-content_block-item {
    display: flex;
    justify-content: flex-start;


}
.tariffs-content_block-item {
    font-family: 'SF Pro';
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tariffs-content_block-item:last-child {
}
.tariffs-content_block-footer {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.tariffs-content_block-footer_price, .tariffs-content_block-footer_price-span {
    color: #007BFE;
    font-size: 35px;
    line-height: 45px;
    font-family: 'SF Pro bolder';
}
.tariffs-content_block-footer_price-old {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: line-through;
    color: #838383;
}
.tariffs-content_block-footer_price-old.dn {
    display: none;
}
.tariffs-content_block-footer_btn {
    width: 191px;
    height: 55px;
    margin: 0 auto;
    margin-top: 10px;

}

@media (max-width: 1199.98px) {
    .tariffs-content_block-footer_btn.btn {
        width: 100%;
        font-size: 16px;
        height: 41px;
    }
    .tariffs-content_block-footer_price {
        font-size: 28px;
    }
    .tariffs-content_block:nth-child(3) .tariffs-content_block-header {
        background-image: url("img/lenta.svg");
        background-position: 115px -27px;
        background-repeat: no-repeat;
        background-size: 139px;
    }
    .tariffs-content_block-footer_price, .tariffs-content_block-footer_price-span {
        font-size: 28px !important;
    }
}

@media (max-width: 991.98px) {
    .tariffs-content {
        flex-direction: column;
        border: none;
    }
    .tariffs-content_block:first-child {
        display: none;
    }
    .tariffs-content_block {
        width: 100%;
        border: 3px solid #D9D9D9;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .tariffs-content_block-header {
        background: #FFFFFF;
        border-top-right-radius: 10px;
        height: auto;
        margin-top: 20px;

    }
    .tariffs-content_block-container {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .tariffs-content_block-container--mobile {
        display: block;
    }
    .tariffs-content_block-container--mobile .tariffs-content_block-item {
        justify-content: flex-start;
    }
    .tariffs-content_block-footer_price {
        font-size: 40px;
    }
    .tariffs-content_block-footer_btn.btn {
        width: 250px;
        height: 60px;
        margin: 10px auto 0;
        margin-bottom: 27px;
    }

    .tariffs-header {

    }
    .tariffs-speed {
        position: absolute;
        top: -33px;
        background: #FFFFFF;
        height: 60px;
        display: flex;
        padding: 0 calc(50vw - 360px);
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .tariffs-content_block:nth-child(3) .tariffs-content_block-header {
        background-image: none;
    }
    .tariffs-content_block-header {
        background: transparent;
    }
    .tariffs-content_block:nth-child(3) {
        background-image: url("img/lenta.svg");
        background-position: top -30px right -27px;
        background-repeat: no-repeat;
        background-size: 145px;
    }
    .tariffs-content_block-container-div .tariffs-content_block-item {
        text-align: center;
    }
    .tariffs-tabs {
        width: 100%;
    }
    .tariffs-tabs_item {
        font-size: 13px;
        line-height: 16px;
        width: 33%;
        height: 36px;

    }
    .tariffs-tabs_item.active {
        box-shadow: none;
    }
    .tariffs-speed.fixed {
        position: fixed;
        top:60px;
        right: 25px;
        display: flex;
        align-items: center;
    }
    .tariffs-content_block-footer_btn.btn {
        width: 100%;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .tariffs-content_block-container-div .tariffs-content_block-item {
        font-size: 13px;
        line-height: 16px;
    }
    .tariffs-content_block-container--mobile .tariffs-content_block-item {
        font-size: 16px;
        line-height: 18px;
    }
    .tariffs-content_block-item {
        height: 25px;
    }
    .tariffs-tabs {
        padding-left: 5px;
        padding-right: 5px;
    }

}


.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
    margin-left: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(120, 120, 128, 0.16);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



.questions {
    padding-top: 60px;
}
.questions-content {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 30px;
}
.questions-accordion {
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    padding: 24px 24px 24px 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 10px;
}
.questions-accordion:after {
    content: '\002B';
    color: #000;
    float: right;
    margin-left: 5px;
    font-size: 30px;
}
.questions-accordion.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.questions-accordion.active:after {
    content: "\2212";
}
.questions-panel {
    padding: 0 18px;
    margin-top: -10px;
    background-color: white;
    max-height: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.questions-panel p{
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
}
.questions-panel.active {
    display: flex;
    align-items: center;
    padding: 34px 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}
@media (max-width: 575.98px) {
    .questions-panel_text, .questions-accordion_text {
        font-size: 13px !important;
        line-height: 16px;
    }
    .questions-accordion_text {
        width: 80%;
    }
    .questions-panel {
        padding-left: 0px !important;
    }
    .questions-accordion {
        padding: 20px;
    }
    .questions-content {
        margin-top: 30px;
    }
    .questions-accordion:after {
        font-size: 20px;
    }
}


.reviews {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #F7F7F7;
}
.reviews-content {
    display: flex;
    margin-top: 30px;
}
.review img {
    width: 100%;
    height: 100%;
}
.review-6 {
    width: 295px;
    height: 252px;
    background-color: #D8C2F3;
    border-radius: 20px;
    background-image: url("img/reviewBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    position: relative;
}
.review-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: initial;
    color: #FF1414;
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.review-6 a img {
    position: absolute;
    bottom: 5px;
    right: 30px;
    width: 123px;
    height: 124px;
}

@media (max-width: 575.98px) {
    .reviews-content {
        flex-direction: column;
    }
    .reviews-content .col:last-child {
        display: flex;
        flex-direction: column;
    }
    .review-5 {
        order: 1;
    }
    .review-6 {
        order: 3;
        width: 100%;
        height: 267px;
        margin-left: 0;
    }
    .review-7 {
        order: 2;
    }

}

@media (max-width: 375.98px) {

}
